<p>Basket</p>

<mat-card class="mat-card" *ngFor="let basket of baskets">
  <mat-card-header>
    <mat-card-title>{{basket.title}}</mat-card-title>
  </mat-card-header>
  <img class="product-img" mat-card-image src="{{basket.image}}" alt="">
  <mat-card-content>
    <p>Цена: {{basket.price}} ₽</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="deleteItemFromBasket(basket.basketId)" type="button" style="margin-right: 10px">Удалить</button>
  </mat-card-actions>

</mat-card>
