a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
  padding: 30px 0;
}

.logo{
  margin-bottom: 35px;
}

.menu__list{
  display: flex;
  align-items: center;
  gap: 0 50px;
}

.user-actions{
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__link img {
  height: 50px;
  width: 50px;
}

.user-actions__item:last-child{
  margin-left: 80px;
}


