<mat-toolbar style="background-color: #ffffff">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <img src="./assets/images/button-logo.png" alt="logo">
    </div>

    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">Главная</button>
      <button class="toolbar button" mat-flat-button routerLink="products">Товары</button>
      <button class="toolbar button" mat-flat-button routerLink="basket">Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!--<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="logo">
        <img src="./assets/images/button-logo.png" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="#" class="menu__link">Главная</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Каталог</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Доставка</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
        </ul>
      </nav>
      <ul class="user-actions">
        <li class="user-actions__item"><a href="#" class="user-actions__link"><img src="./assets/images/trolley.svg" alt="trolley"></a></li>
        <li class="user-actions__item"><a href="#" class="user-actions__link"><img src="./assets/images/user.svg" alt="user"></a></li>
        <li class="user-actions__item"><a href="#" class="user-actions__link"><img src="./assets/images/search.svg" alt="search"></a></li>
      </ul>
    </div>
  </div>
</header>
-->


